<header class="header">
    <a href="/shop"><h1>Gina Marie Dreams</h1></a>
    <nav class="navbar">
        <ul>
            <li><a href="/about"><h2>About</h2></a></li>
            <li><a href="/custom"><h2>Custom</h2></a></li>
        </ul>
    </nav>
    <a href="/cart"><div class="cart"><h2>Cart</h2></div></a>
</header>
