<div class="bg">
<div class="welcome__wrapper">
<div class="welcome__content">
<h1>Dream Hoops</h1>
<h3>Handmade with love</h3>
<h4>by Gina Marie Dreams</h4>
<a href="/shop"><button class="welcome__enter">Enter</button></a>
</div>
</div>

</div>
