// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.header {
    font-family: 'Dancing Script', cursive;
    padding: 0;
    background-color: rgba(221, 32, 79, 0.5);
    color: white;
    position: relative;
}
.header h1 {
    text-align: center;
    font-size: 3.5rem;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    color: white;
    text-decoration: none;
}
.header a:visited {
    color: white;
    text-decoration: none;
}
.navbar ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}
.navbar li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
.cart {
    position: absolute;
    top: 5px;
    right: 15px;
}







